{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Bookings</h1>

    {% if bookings %}
        <div class="row">
            {% for booking in bookings %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mentor: {{ booking.user.get_full_name }}</h5>
                            <p class="card-text">
                                <strong>Date:</strong> {{ booking.date }}<br>
                                <strong>Time:</strong> {{ booking.time }}<br>
                                <strong>Is booked:</strong> {{ booking.is_booked }}
                            </p>
                            {% if booking.slot_datetime < now %}
                                {% if booking.review_slot %}
                                    <p class="text-success fw-bold">Review submitted</p>
                                {% else %}
                                    <a href="{% url 'leave-review' booking.id %}" class="btn btn-primary">Leave a Review</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'cancel-booking' booking.id %}" class="btn btn-danger">Cancel Booking</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">You don't have any bookings yet.</p>
    {% endif %}
</div>
{% endblock %}
